@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Red Hat Display", sans serif;
    background-color: hsl(225, 100%, 94%);
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: hsl(225, 100%, 98%);
    max-width: 416px;
    border-radius: 1rem;

}

main img {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 2.50rem;
}

section h1 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 1.75rem;
}


span.description {
    text-align: center;
    color: hsl(225, 22%, 65%);
    margin-bottom: 1rem;
}

.music-price img {
    width: 52px;
    height: 52px;
}

.informations {
    background-color: hsl(225, 100%, 95%);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-bottom: 1rem;
}

.music-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.price {
    display: flex;
    flex-direction: column;

}

.price strong {
    font-weight: 800;
}

.price span {
    color: hsl(224, 23%, 55%);
}

.informations a {
    font-weight: 850;
    color: hsl(222, 29%, 27%);
    transition: all 0.3s;
}

.informations a:hover {
    text-decoration: underline;
}

button {
    border: none;
    background-color: hsl(245, 75%, 52%);
    cursor: pointer;
    width: 100%;
    padding: 0.80rem;
    border-radius: 0.65rem;
    font-weight: 700;
    box-shadow: 0px 20px 20px #cbcaf2;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;  

}

button a {
    color: hsl(225, 100%, 94%);       
}

.cancel-order {
    color: hsl(224, 23%, 55%);
    font-weight: 800;
    font-size: 14px;

}